body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    font-size: 2em;
    color: #9c1111;
    text-align: center;
}
p{
    font-size: 1.2em;
    color: #1814a0;
    text-align: center;
}